.navbar-default.modified{
	border-bottom: none;
	font-size:17px;
	color:black;
	font-weight:500;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
                0 4px 20px 0 rgba(0,0,0,0.19);
}
.container-fluid.modified {
    padding-right: 35px; 
    padding-left: 35px; 
    height:70px;
    background-color: #ffffff;
    }

.navbar-nav.navcenter-padding{
	    margin-top:10px; 
	    margin-left:90px; 
	    margin-right: 0px;
	    margin-bottom: 0px;
   }
.imgpad{
	padding-top:5px;
}
.container.modified{
	width:1349px;
	padding:0;
}
.navbar-nav.top {
    margin-top: 10px;
    float: right!important;
}
.navbar-right img{
    padding:0 5px;
}
@media (min-width:786px){
    .navbar-right{
        float:right!important;
    }
}
.container-fluid.modified2{
    padding: 0 0 !important;
    width:100%;
    height: auto;
}

.slider-with-image{
    position: relative;
}
.banner-content img{
    position: absolute;
    z-index:99;
    bottom: -80px;
    left: 17px;
}
	.carousel-inner p{
     display: inline-block;
    font-size: 25px;
    position: absolute;
     top: 200px;
    right: 156px;
    float: right;
    color: white;
    font-weight: 300;
    text-align: left;
    line-height: 2;
	}
	.banner-content button{
	float: right;
    position: absolute;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #e5b7a4;
    border: 10px;
    border-radius: 10px;
    box-shadow: -2px 3px #9E9E9E;
    opacity: 0.7;
    bottom: 195px;
    right: 177px;
    z-index: 99;
	}
	 .banner-content button:hover {opacity: 1;}

.banner-content button:active {
  background-color: #e5b7a4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.banner-content input[type=text] {
    position: absolute;
    z-index: 99;
    width: 260px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: #f3e3dd;
    background-image: url('searchicon.png');
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    padding: 17px 20px 17px 40px;
    bottom: 102px;
    right: 159px;
}
.whatoffer-banner{
        position: relative;
         background-color: #f7f7f7!important; 
         margin-top: 100px;
}
.whatoffer-content{
    color: #ff1556;
    text-align: center;
    text-transform: uppercase; 
    margin-top: 35px;
    padding:30px 0;
    width:100%;
    font-size:20px;
}
.big-text{
        font-weight: 700;
    font-size: 30px;
}
.text-center{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color:black;
}
.img-pos1{
   position: relative;
}
.img-pos2{
    position: absolute;
    top: 0;
    right:0;
}
.whatoffer-content hr{ 
    border: 0;
    border-top: 5px solid #ff1556;
    margin: 20px 622px;
}
.whatoffer-content hr{
    box-sizing: content-box;
    height: 0;
    overflow: hidden;
}
.whatoffer-content-box{
    color: black;
}
.container-fluid.bg-white{
    margin: 48px 14px;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),
               0 4px 20px 0 rgba(0,0,0,0.19);
                text-align: center;
    font-size: 17px;
    text-transform: lowercase;
    color: #7f7f7f;
    text-align: justify;
    }
    .container-fluid span{
      text-align: center!important;
      color:#ff1556;
      font-weight: 700;
      font-size:25px;
    }
    .build-banner{
          background-color: #f7f7f7;
          position: relative;
    }
    .build-content{
     position: relative;
    padding-top: 50px;
    }
    section.build-banner:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: #f2f2f2;
}
    .container.modified3{
     width: 1230px;
    margin: 0 auto;
    min-width: 1230px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    }
    .container.modified01{
     width: 1230px;
    margin: 0 auto;
    min-width: 1230px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    }
   .build-image {
    background: url(all-icon.png) center center no-repeat;
    height: 232px;
    background-size: 251px;
    z-index: 99;
    position: relative!important;
}
  h1 {
    color: #26273f;
    font-size: 40px !important;
    font-weight: 100 !important;
    line-height: 50px !important;
    text-align: center!important;
    transform: scaleX(1.0009);
    position: relative!important;
    z-index: 99;
    margin: 0 !important;
    padding: 40px 0;
}

.build-triangle.left-triangle {
    position: relative;
    height: 68px;
    background-color: white;
}
.build-triangle .right-triangle {
    position: relative;
    height: 68px;
    background-color: white;
}
.width50 {
    width: 50%;
    float: left;
    overflow: hidden;
}
.build-triangle .left-triangle:after {
    content: '';
    position: absolute;
    border-top: 68px solid #f7f7f7;
    border-bottom: 68px solid transparent;
    border-left: 68px solid transparent;
    right: 0;
    top: 0;
}
section.growth-section {
    overflow: hidden;
    width: 100%;
    background-color: white;
    margin-bottom: 25px;
}
.link-content-row:first-child {
    margin-top: 40px;
}
.link-content-row {
    overflow: hidden;
    margin: 70px 0 0 0;
}
section.growth-section .left-icon {
    width: 20%;
    float: left;
}
section.growth-section .right-content {
    width: 80%;
    float: left;
}
section.growth-section .right-content h2 {
    color: #1e1f3f;
    font-weight: 700;
    line-height: 2;
    text-align: left!important;
    transform: scaleY(1.1529);
    margin: 0;
    opacity: 0.8;
}
section.growth-section .right-content p {
    color: #797979;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    transform: scaleY(1.0016);
    margin: 0;
}
.left-icon.growth {
    background: url(icon1.png) left center no-repeat;
        height: 171px;
    background-size: auto;
}
.growth {
    color: #797979;
    font-size: 20.92px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    padding: 53px;
}
.left-icon.success {
    background: url(icon2.png) left center no-repeat;
       height: 171px;
    background-size: auto;
}
.success {
    color: #797979;
    font-size: 20.92px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    padding: 53px;
}
.left-icon.mental {
    background: url(icon3.png) left center no-repeat;
        height: 171px;
    background-size: auto;
}
.mental {
    color: #797979;
    font-size: 20.92px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    padding: 53px;
}

.left-icon.energetic {
    background: url(icon4.png) left center no-repeat;
        height: 171px;
    background-size: auto;
}
.energetic {
    color: #797979;
    font-size: 20.92px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    padding: 53px;
}
.map-section{
    position: relative;
    background-color: #f7f7f7;
    text-align: center!important;
    padding: 10px 0;
    margin-top: 30px;

}
.map-section span{
    color: #ff1455;
  font-weight: 700;
}
.map-section h2{
    text-transform: uppercase;
}
.diff-font{
    font-weight: 300!important;
    font-size: 30px;
    color: black!important;
    opacity: 0.7;
}
.map-section img{
    position: absolute;
    right:0px;
    top: -70px!important;

   }
   .map-section label{
       position: absolute;
        right: 0;
        bottom:  -25px;
        display: block;
   }
   .footer-sec{
    margin-top: 0px;
    
   }
   .footer-top{
    color: white;
    text-transform: uppercase;
    font-size: 33px;
    width:100%;
    height: 90px;
     position: relative!important;
     background-color: #ff1556;
   }
   
   .container.modified6 {
     margin-left: 40px;
     margin-right: 40px;
     padding-left: 205px;
     padding-right: 205px;
     padding-top: 7px;
     padding-bottom: 7px;

   }
   .footer-top-content {
    position: absolute!important;
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 4px 21px;
   max-height: 80px;

}
   .footer-section_top--1 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    overflow: hidden;
}
.footer-section_top_col_left {
    width: 99%;
}
   .footer-section_top_col_left p {
    padding-right: 5%;
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: 83.962px;
    text-align: right;
    transform: scaleY(1.002)!important;
    text-transform: uppercase!important;
}

   .footer-section_top_col_left span{
     margin-left:10px;
     font-weight: 100!important;
     text-transform: lowercase!important;
   }
.footer-section_top--2 {
    padding-top: 3px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer-section_top_col_right {
    width: 100%;
}
.footer-section_top_col_right label {
   color: rgba(255, 255, 255, 0.7);
    font-size: 21.07px;
    font-weight: 100!important;
    line-height: 83.962px;
    text-align: left;
    transform: scaleX(1.0037);
    display: block;
    padding-left: 35px;
}
.footer-body{
    width: 100%;
    color: white;
    font-size: 20px;
    position: relative!important;
    background-color: #c21042;
}
.footer-body-leftsec{
    background-color: #002036;
    width: 800px;
}
.footer-body-rightsec{
    background-color: #c21042;
    width: 549px;
    margin-left: -119px;
}
.container.modified8{
       width: 100%;
         padding: 20px 35px 20px 92px;
}
.footer-body-leftsec span{
    line-height: 3;
    font-weight:700;
    font-size: 25px;
}
.footer-body-leftsec li{
    line-height: 2;
    font-weight: 300;
    text-align: left;
}
.footer-body-leftsec form{
     padding: 44px 10px 10px 0px;
}
.footer-body-leftsec p{
    font-size: 11px;
    padding:20px 10px 10px 53px;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid #798a95;
    font-size: 16px;
    background-color: #002036;
    padding: 22px 20px 18px 30px;
}

.icon-spacing{
    padding: 5px 5px 5px 0px;
}

.container.modified9{
    padding: 20px 70px;
    width: 100%;
}
.footer-body-rightsec img{
       padding: 20px 33px;
}
.glyphicon.modified01{
        font-size: 25px;
}
.footer-body-rightsec h4{
    text-align: left;
    padding: 10px 70px;
    line-height: 1.5;
}
.footer-body-rightsec P{
    font-size: 15px;
    opacity: 0.7;
    text-align: left;
    padding: 10px 70px;
    line-height: 1.5;
}
.fa.modified0{
    padding: 25px;
    opacity: 0.7;
    font-size: 35px;
}
.footer-bottom{
    background-color:#001421;
    color: white;
    padding: 18px 10px 10px 122px;
    width: 100%;
}
.footer-bottom p{
    opacity: 0.8;
     font-size: 12px;
}
.footer-bottom span{
    padding-left: 8px;
    padding-right: 8px;
}
@media only screen and (max-width: 610px){
.banner-content img {
    max-width: 100%;
    height: auto;
}
.banner-content img {
    width: 50%;
}
.link-content-row {
    overflow: hidden;
    margin: 40px 23px 0 20px;
}
section.growth-section .right-content {
    width: 100%;
    float: left;
    /* overflow: hidden; */
    font-size: 15px;
    text-align: justify;
    padding: 0 641px 0 6px;
}
section.growth-section .left-icon {
    width: 100%;
    float: left;
}

section.growth-section .right-content h2 {
        padding-left: 33px;
}
.container.modified3 {
    width: 601px;
    margin: 0 auto;
    min-width: 610px;
}
p {
    margin: 0px 12px 8px;
    font-size: 27px;
    text-align: left;
    text-transform: capitalize;
    padding-left: 30px;
}
}

@media only screen and (max-width: 768px)  {
    .banner-content img{
        max-width: 100%;
        height: auto;
    }
    .banner-content button{
        width: 50%;
        height: 50%;
    }

}
@media only screen and (max-width: 1024px) and (min-width:1024px) {

}
@media only screen and (max-width: 768px) {
ul.nav.navbar-nav.navbar-center.navcenter-padding {
    margin: 0;
}
}
@media only screen and (min-width: 320px)  and (max-width:480px){
    div#myNavbar {
    background-color: white;
}
}